<head><meta charset="UTF-8"></head>
<html>
	<body style="padding: 0px;font-size: 20px">
		<p class="font">声明</p>
		<p class="font1">著作权所有 © 长春嘉诚信息技术股份有限公司 2022。 保留一切权利。</p>
		<p class="font2">在未经本公司书面许可的情况下，任何单位和个人不得以任何方式摘抄、复
		</p>
		<p  class="font2">制、修改本文档内容的部分或 全部，并不得以任何形式传播。</p>
		<p class="font3">商标声明</p>
		<div><img src="smalllogo.png"></div>
		<p class="font2" style="margin-top: 20px">为长春嘉诚信息技术股份有限公司的注册商标。 对于本文档中提及的其他公司

		</p>
		<p class="font2">
			的商标、产品标识及商品名称，由其所有人各自拥有。
		</p>
		<p class="font3">注意</p>
		<p class="font2">
			本文档仅作为使用指导，文档内容可能包含技术上不准确或与产品功能及操作
		</p>	
		<p class="font2">	
			不相符的地方，以嘉诚信息最终解释为准。本文档中的所有陈述、信息和建议
		</p>
		<p class="font2">
			等均不构成嘉诚信息任何明示或暗示的担保、保证。 因为产品版本升级或其
		</p>
		<p class="font2">
			他原因，嘉诚信息将不定期对本文档内容进行更新或修正，恕不另行通知。
		</p>	
		<p  class="font5">长春嘉诚信息技术股份有限公司</p>
		<p class="font4">地址：吉林省长春市高新区越达路 1188 号</p>
		<p>网址：http://www.jiachengnet.com</p>
	</body>
	<style>
		.font{
			color:rgb(52,90,138);
			font-size: 40px;
			margin-top: 50px;
		}
		.font2{
			margin-top: 5px;
		}
		.font1{
			margin-top: 20px
		}
		.font3{
			font-weight:bold;
			font-size:20px;
			margin: 60px 0px 20px 0px;
		}
		.font4{
			margin: 20px 0px
		}
		.font5{
			margin-top: 60px
		}
	</style>
</html>