h1 {

    counter-reset: h2counter;

}

h2 {

    counter-reset: h3counter;

}

h3 {

    counter-reset: h4counter;

}

h4 {

    counter-reset: h5counter;

}

h5 {

    counter-reset: h6counter;

}

body {
    counter-reset: h0counter;
}

h1:before {

    counter-increment: h0counter;
    content: counter(h0counter) ".\0000a0\0000a0";
}

h2:before {

    counter-increment: h2counter;
    content: counter(h0counter) "." counter(h2counter) ".\0000a0\0000a0";

}

h3:before {

    counter-increment: h3counter;
    content: counter(h0counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";

}

h4:before {

    counter-increment: h4counter;
    content: counter(h0counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";

}

h5:before {

    counter-increment: h5counter;
    content: counter(h0counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";

}

h6:before {

    counter-increment: h6counter;
    content: counter(h0counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";

}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

table thead tr th,
table tbody tr td {
    padding: 8px 12px;
    text-align: center;
    color: #333;
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: #fff;
}

.des {
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.des-span {
    display: inline-block;
}

body {
    margin: 0;
}

.content {
    width: 820px;
    height: 1160px;
    margin: 0 auto;
    background-color: #006DCC;
}

code > span {
    max-width: 100% !important;
}

pre {

    white-space: pre-wrap;

    word-wrap: break-word;

}

h1, h2, h3, h4, h5, h6 {
    color: rgb(79, 129, 189);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 15px;
}

p, li {
    line-height: 150%;
    font-size: 15px;
}

table {
    table-layout: fixed;
}

tr {
    font-size: 12px;
}

td,th {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word;
    padding: 3px !important;
}

@font-face {
    font-family: jcfont;
    src: url('./font.ttf');
}
